<html>
    <head>
        <title>상세페이지</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    </head>
    <body>
        <div class="ui card">
            <div class="image">
              <img src="<%=image%>">
            </div>
            <div class="content">
              <a class="header"><%=name%></a>
              <div class="meta">
                <span class="date">2013년 입사</span>
              </div>
              <div class="description"><%=department%></div>
            </div>
            <div class="extra content">
              <a>
                <i class="user icon"></i>
                <%=position%>
              </a>
            </div>
          </div>
    </body>
</html>