<div class="ui basic modal">
    <div class="ui icon header">
      <i class="exclamation triangle icon"></i>
      직원 정보 삭제
    </div>
    <div class="content">
      <p>해당 직원 정보를 삭제하시겠습니까?</p>
    </div>
    <div class="actions" style="text-align: center;">
      <div class="ui green basic cancel inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <div id="delete_btn" class="ui red ok inverted button">
        <i class="trash alternate icon"></i>
        Yes
      </div>
    </div>
  </div>